
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    background-color: #f4f4f4;
}

/* Стили для фиксированного верхнего меню */
header {
    background: linear-gradient(to bottom, #11a4da, #102b5e);
    color: white;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    height: 60px;
}

/* Отступ для тела страницы, чтобы верхнее меню не перекрывало контент */
body {
    padding-top: 75px;
}

main {
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


.box {
    background: linear-gradient(to bottom, #0b6b8e, #0a60ff);
    color: #f9e6e6;
    border: 3px solid #053547;
    border-radius: 5px;
    margin: 4px;
    width: calc(32.2% - 9px); /* Ширина блока с учетом маржина */
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.boxcon {
    font-size: medium;
    background: linear-gradient(to bottom, #f1f2f2, #d5e2fb);
    color: black;
    border: 3px solid #053547;
    border-radius: 5px;
    margin: 4px;
    width: calc(65%);
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.box:hover {
    transform: scale(1.05); /* Увеличение размера блока */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon div {
    width: 100%;
    height: 5px;
    background-color: rgb(230, 219, 219);
    margin: 6px 0;
}

.menu-panel {
    position: fixed;
    top: 60px;
    right: -300px;
    width: 200px;
    height: calc(100% - 60px);
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease; /* Плавный переход для выезда */
}

.menu-panel.open {
    right: 0;
}

.menu-panel a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    transition: color 0.6s ease;
}

.menu-panel a:hover {
    color: #00008B;
}

.menu-panel a:active {
    color: #000066;
}

.news-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.news-content.open {
    display: block;
}

.read-more-btn {
    display: block;
    margin: 10px 0;
    background-color: #11a4da;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: #0a8bc2;
}

.read-more-btn:active {
    background-color: #084a72;
}

.calculator {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.calculator div {
    margin-bottom: 10px;
}

.calculator label {
    display: block;
    margin-bottom: 5px;
}

.calculator input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.calculator button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #11a4da;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #0a8bc2;
}
